.cont{
    width: 380px;
    color: aliceblue;
    background-color: rgb(221, 146, 8);
    border-radius: 2%;
}
.head{ 
    padding: 0%;
    width: auto;
    height: 70px;
    background-color: orange;
}
.head2{
    padding: 0%;
    width: auto;
    height: 50px;
    background-color: rgb(236, 218, 183);
}
.ihead{
    padding: 15px;
    width: 250px;
    height: 100px;
}
  div.cajonSuperior{
    width: 90%;
    height: 800px;
  }
  img.Ilogo{
    margin: 15px;
    padding: 15px;
    position: absolute;
    float: inline-start;
    width: 250px; 
    height:250px;
  }
  div.contenedor{
    padding-left: 350px;
    padding-top: 0px;
    padding-inline-end: 10px;
  }
  div.mision{
    padding: 10px;
    float: left; 
    width: 45%; 
    text-align: justify; 
  }
  div.vision{
    padding: 10px; 
    float: right; 
    width: 45%; 
    text-align: justify;
  }
  div.valores{
    padding-top: 80px;
    padding-left: 350px;
    text-align: justify; 
  }
  div.formulario{
    position: absolute;
    padding-top: 300px;
    padding-left: 45px;
    width: 250px; 
    height:250px;
  }
  div.img{
    position: absolute;
  }

